<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Book Reviewer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="flex-column justify-space-around">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid navBack">
        <a class="navbar-brand navTitle" href="/"><img src="../../imgs/Logo.png"
            class="shadow-lg p-1 mb-1 bg-white rounded"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            {{#if loggedIn}}

            <li class="nav-item">
              <a class="nav-link" href="/myreviews">My Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/allreviews">All Reviews</a>
            </li>
            <li class="nav-item">
              <button class="no-button" id="logout">Logout</button>
            </li>
            {{else}}
            <li>
              <a class="nav-link" href="/login">Login</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
    <main class="container">
      {{{body}}}
    </main>
    <footer>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>